<h1 mat-dialog-title>Razonamiento</h1>
<div mat-dialog-content>
  <h2>La solución que se está considerando actualmente es {{ data.animal }}</h2>
  <mat-list>
    <mat-list-item *ngFor="let attribute of data.accepted">
      <mat-icon matListIcon color="primary">check</mat-icon>
      <h3 matLine> {{ attribute }} </h3>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item *ngFor="let attribute of data.rejected">
      <mat-icon matListIcon color="accent">close</mat-icon>
      <h3 matLine> {{ attribute }} </h3>
    </mat-list-item>
  </mat-list>
</div>
