<div class="h-100 w-100">
  <div class="header">
    <mat-toolbar class="mat-elevation-z4" color="primary" role="heading">
      <button (click)="sidenav.toggle()" color="accent" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Clasificador de animales para zoológico</span>
      <button (click)="openModal()" color="accent" mat-icon-button class="info">
        <mat-icon>help</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened">
      <mat-nav-list>
        <mat-list-item [ngClass]="isItemActive('consult')" (click)="setActiveItem('consult')">
          <a matLine href="#">Consultar sistema experto</a>
        </mat-list-item>
        <mat-list-item [ngClass]="isItemActive('see')" (click)="setActiveItem('see')">
          <a matLine href="#">Ver base de conocimiento</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div *ngIf="activeItem == 'consult' && !showResult" class="mt-10">
        <h1 class="question">{{ question }}</h1>
        <button mat-raised-button color="primary" class="btn-affirmative" (click)="accept()">Sí</button>
        <br>
        <button mat-raised-button color="accent" class="btn-negative" (click)="reject()">No</button>
      </div>
      <div *ngIf="showResult" class="mt-10">
        <h1 class="result">{{ result }}</h1>
        <button mat-raised-button color="primary" class="btn-reset" (click)="startConsult()">Reiniciar</button>
        <br>
        <button *ngIf="animalIndex < animals.length"
                mat-raised-button
                color="accent"
                class="btn-continue"
                (click)="continue()"
        >
          Continuar
        </button>
      </div>
      <div *ngIf="activeItem == 'see'" class="table-wrapper">
        <table mat-table [dataSource]="animals" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="attributes">
            <th mat-header-cell *matHeaderCellDef>Atributos</th>
            <td mat-cell *matCellDef="let element">{{element.attributes}} </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Clasificación</th>
            <td mat-cell *matCellDef="let element">{{element.type}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
