mat-sidenav-container {
  height: calc(100% - 64px);
}

mat-sidenav-content {
  padding: 1.5rem;
  text-align: center;
  height: calc(100% - 3rem);
  display: flex;
  justify-content: center;
}

mat-sidenav {
  min-width: 250px;
}

mat-list-item {
  &.active {
    background: rgba(63, 81, 181, .15);
    color: #3f51b5;
  }
}

.mt-10 {
  margin-top: 10rem;
}

.header {
  position: relative;
  z-index: 2;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.info {
  margin-left: auto;
}

.table-wrapper {
  height: fit-content;
  text-align: left;
}

.question,
.result {
  font-size: 64px;
  margin-bottom: 3rem;
  line-height: 77px;
}

.btn-affirmative,
.btn-negative,
.btn-reset,
.btn-continue {
  width: 300px;
  font-size: 32px;
  height: 64px;
  margin: 1.5rem;
}

@media (max-width: 599px) {
  mat-sidenav-container {
    min-height: calc(100% - 56px);
  }
}
